.fotolab-jumbotron {
    background: url(../img/jumbotron-bg.jpg) no-repeat;
    height: 624px;
    border-radius: 0;
}


.fotolab-jumbotron h1 {
    line-height: 500px;
}


.footer-line {
    background: #ccc;
}

.fotolab-logo {
    width: 64px;
    height: 64px;
    background: url(../img/logo.png) no-repeat;
    overflow: hidden;
    text-indent: -1280px;
    padding: 0;
    margin: 0;
}

.fix-bottom {
    position: fixed;
    height: 100px;
    bottom: 0;
}


.hi-line {
    height: 2px;
    background: #000;
    margin: 20px auto;
    width: 100px;
}


.footer-link {
    font-size: 1.5rem;
}

.logo2 {
    background: url(../img/logo2-128.png) no-repeat;
    width: 64px;
    height: 73px;
    position: absolute;
    left: 1140px;
    padding-left: 2000px;
}

.price-list {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 0 0 30px 0
}

.price-list h4 {
    margin-top: 40px;
}

.about_us_p1 {
    width: 400px;
    height: 533px;
    background: url(../img/about_us_p1.jpg) no-repeat;

}

.about_us_p2 {
    width: 445px;
    height: 258px;
    background: url(../img/about_us_p2.jpg) no-repeat;

}

.about_us_p3 {
    width: 570px;
    height: 355px;
    background: url(../img/about_us_p3.jpg) no-repeat;

}
.the-lab-p1{
    width: 475px;
    height: 318px;
    background: url(../img/the_lab_p1.jpg) no-repeat;

}

.the-lab-p3 {
    width: 445px;
    height: 242px;
    background: url(../img/the_lab_p3.jpg) no-repeat;
}

.news-p1 {
    width: 445px;
    height: 356px;
    background: url(../img/news_p1.jpg) no-repeat;
}

.news-p2 {
    width: 400px;
    height: 533px;
    background: url(../img/news_p2.jpg) no-repeat;
}

.services-p1 {
    width: 100%;
    height: 298px;
    background: url(../img/serivces_p1.jpg) no-repeat;
    background-position: right;
}

.services-p2 {
    width: 315px;
    height: 448px;
    margin-left:68px;
    background: url(../img/serivces_p2.jpg) no-repeat;
    background-position: center;
}

.services-p3 {
    width: 100%;
    height: 298px;
    background: url(../img/serivces_p3.jpg) no-repeat;
    background-position: right;
}

.services-p4-1 {
    width: 730px;
    height: 407px;
    background: url(../img/serivces_p4_1.jpg) no-repeat;
}

.services-p4-2 {
    width: 445px;
    height: 298px;
    background: url(../img/serivces_p4_2.jpg) no-repeat;
}