{% extends "./share/base.tpl" %}

{% block pageTitle %}{{contact.title}}{% endblock %}


{% block content %}

<div class="p-3 p-md-5">
  <div class="col-md-12 px-0 text-center">
    <h1 class="display-6">{{contact.title}}</h1>
    <div class="hi-line"></div>
  </div>
</div>

<div class="row mb-5">
  <div class="col-8 offset-2" style="background:#ccc;height:300px;">
  </div>
</div>

<div class="row mb-5">
  <div class="col-4 offset-2">
    {{contact.p1}}
  </div>
  <div class="col-4">
  </div>
</div>

<div class="row mb-5">
  <div class="col-4 offset-2">
    {{contact.p2}}
  </div>
  <div class="col-4 text-right">
    {{contact.p3}}
    <br><br><br><br>
    <h4>{{contact.follow_wechat}}</h4>
  </div>
</div>





<div class="row mt-5 mb-5">
  <div class="col-12 text-center">
    <div class="hi-line"></div>
    <a href="the_lab.html" class="footer-link">{{menu.the_lab2}}</a>
  </div>
</div>


{% endblock %}