{% extends "./share/base.tpl" %}

{% block pageTitle %}{{services.title}}{% endblock %}


{% block content %}

<div class="p-3 p-md-5">
  <div class="col-md-12 px-0 text-center">
    <h1 class="display-6">
      {{services.title}}
    </h1>
    <div class="hi-line"></div>
  </div>
</div>
<div class="row">
  <div class="col-4 offset-1">{{services.p1}}</div>
  <div class="col-6">
    <div class="services-p1"></div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-6">
    <div class="services-p2"></div>
  </div>
  <div class="col-5 text-right">{{services.p2}}</div>
</div>
<div class="row mt-5 mb-5">
  <div class="col-4 offset-1">{{services.p3}}</div>
  <div class="col-6">
    <div class="services-p3"></div>
  </div>
</div>

<div class="row price-list">
  <div class="col-5 offset-1">{{services.price1}}</div>
  <div class="col-5 text-right">{{services.price2}}</div>
</div>

<div class="row">
  <div class="col-8 offset-2 mt-5">
    <div class="services-p4-1"></div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-4 offset-2">{{services.p4}}</div>
  <div class="col-5">
    <div class="services-p4-2"></div>
  </div>
</div>


<div class="row mt-5 mb-5">
  <div class="col-12 text-center">
    <div class="hi-line"></div>
    <a href="the_lab.html" class="footer-link">{{menu.the_lab2}}</a>
  </div>
</div>


{% endblock %}